.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 0.95;
  height: 50vh;
  overflow-y: auto;
  width: 90%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.09);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
  box-sizing: border-box;
}

.main::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 12px;
	background-color: #F5F5F5;
}

.main::-webkit-scrollbar {
	width: 5px;
  background-color: #F5F5F5;
  border-radius: 12px;
}

.main::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(112, 165, 185);
}

.btnBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.inputBox {
  width: 80%;
}

.btn {
  margin: 12px 0 12px 6px !important;
  flex: 1;
}
