.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
  width: 80%;
  position: relative;
}

.tabs {
  flex-grow: 1;
}

.tabPanel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 50vh;
  flex-grow: 0.95;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 0 0 9px 9px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.tabPanel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #f5f5f5;
}

.tabPanel::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.tabPanel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(112, 165, 185);
}

[hidden] {
  display: none;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.83);
}

.btn {
  width: 7vmin;
  height: 7vmin;
  border-radius: 50%;
  position: absolute;
  right: -2vmin;
  bottom: 1vmin;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #A5D6A7;
  color: rgba(0, 0, 0, 0.87);
}

.btn:hover {
  background-color: #81C784;
}
