.box {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.textarea {
  margin: 10px 0;
  width: 90%;
}

.textarea > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 45px 12px 10px;
}

.textarea > label {
  font-size: 40px;
  
}

.textarea > div > textarea {
  height: 100% !important;
}

.MuiFilledInput-underline:after {
  border-bottom: 2px solid #78a2ca !important;
}